<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.brosource.hstgbrasil">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="br.com.brosource.hstgbrasil.util.HstgApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="br.com.brosource.hstgbrasil.gui.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="br.com.brosource.hstgbrasil.gui.NewsActivity"
            android:label="@string/title_activity_news"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.brosource.hstgbrasil.gui.MainActivity" />
        </activity>
        <activity
            android:name="br.com.brosource.hstgbrasil.gui.AgendaActivity"
            android:label="@string/title_activity_news"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.brosource.hstgbrasil.gui.MainActivity" />
        </activity>
        <activity
            android:name="br.com.brosource.hstgbrasil.gui.ProdutoActivity"
            android:label="@string/title_activity_news"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.brosource.hstgbrasil.gui.MainActivity" />
        </activity>
        <activity
            android:name="br.com.brosource.hstgbrasil.gui.GaleriaActivity"
            android:label="@string/title_activity_galeria"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.brosource.hstgbrasil.gui.MainActivity" />
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="insta-auth"
                    android:scheme="hstg" />
            </intent-filter>
        </activity>

        <activity
            android:name=".gui.InstagramPagerActivity"
            android:label="@string/title_activity_news"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.brosource.hstgbrasil.gui.GaleriaActivity" />
        </activity>

        <activity
            android:name="br.com.brosource.hstgbrasil.gui.MeusDadosActivity"
            android:label="@string/title_meus_dados"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.brosource.hstgbrasil.gui.MainActivity" />
        </activity>
    </application>

</manifest>
